<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRICKET SHOPPING</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-container">
        <div class="header">
            <div class="brand">
                <button onclick="openM()">
                    &#9776;
                </button>
                <a href="index.html">CRICKET</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </div>
        <div class="sidebar">
            <h4>SHOPPING CATEG</h4>
            <button onclick="closeM()" class="cross-button">X</button>
            <ul>
                <li>
                    <a href="index.html">Track Pants</a>
                </li>
                <li>
                    <a href="index.html">Shorts</a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="content">
                <ul class="products">
                   <li>
                       <div class="img">
                            <img src=' C:\Users\pokal\Desktop\ReactApp\template\Images\Jersey_IND_SLIM.jpg' alt="product1">
                            <div class="product-name">JERSEY IND SLIM</div>
                            <div class="price_product">
                                <div class="product-brand">NIKE</div>
                                <div class="price">500$</div>
                                <div class="product-rating">4.5 stars (10 Reviews)</div>
                            </div>
                       </div>
                   </li>
                   <li>
                    <div class="img">
                         <img src=' C:\Users\pokal\Desktop\ReactApp\template\Images\Jersey_IND_SLIM.jpg' alt="product1">
                         <div class="product-name">JERSEY IND SLIM</div>
                         <div class="price_product">
                             <div class="product-brand">NIKE</div>
                             <div class="price">500$</div>
                             <div class="product-rating">4.5 stars (10 Reviews)</div>
                         </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                         <img src=' C:\Users\pokal\Desktop\ReactApp\template\Images\Jersey_IND_SLIM.jpg' alt="product1">
                         <div class="product-name">JERSEY IND SLIM</div>
                         <div class="price_product">
                             <div class="product-brand">NIKE</div>
                             <div class="price">500$</div>
                             <div class="product-rating">4.5 stars (10 Reviews)</div>
                         </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                         <img src=' C:\Users\pokal\Desktop\ReactApp\template\Images\Jersey_IND_SLIM.jpg' alt="product1">
                         <div class="product-name">JERSEY IND SLIM</div>
                         <div class="price_product">
                             <div class="product-brand">NIKE</div>
                             <div class="price">500$</div>
                             <div class="product-rating">4.5 stars (10 Reviews)</div>
                         </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                         <img src=' C:\Users\pokal\Desktop\ReactApp\template\Images\Jersey_IND_SLIM.jpg' alt="product1">
                         <div class="product-name">JERSEY IND SLIM</div>
                         <div class="price_product">
                             <div class="product-brand">NIKE</div>
                             <div class="price">500$</div>
                             <div class="product-rating">4.5 stars (10 Reviews)</div>
                         </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                         <img src=' C:\Users\pokal\Desktop\ReactApp\template\Images\Jersey_IND_SLIM.jpg' alt="product1">
                         <div class="product-name">JERSEY IND SLIM</div>
                         <div class="price_product">
                             <div class="product-brand">NIKE</div>
                             <div class="price">500$</div>
                             <div class="product-rating">4.5 stars (10 Reviews)</div>
                         </div>
                    </div>
                </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            Footer
        </div>
    </div>

    <script>
        function openM(){
            document.querySelector(".sidebar").classList.add("open")
        }
        function closeM(){
            document.querySelector(".sidebar").classList.add("close")
        }
    </script>
    
</body>
</html>